INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
man/
missing
src/
tests/

# ------------ basic python files -------
*.pyc
build/*
*.egg*
dist/*
_trial_temp/*
# ------------ basic vim files -------
.*.swp
# toonloop custom files
*.1
toonloop.png
doc/*
# debian stuff
debian/toonloop*
debian/compat
debian/files
debian/pycompat
debian/python-module-stampdir/toonloop
python-build-stamp-*
