# ------------ basic python files -------
*.pyc
build/*
*.egg*
dist/*
_trial_temp/*
# ------------ basic vim files -------
.*.swp
# toonloop custom files
*.1
python-build-stamp-*

#---------- cpp files
*.o
# autoconf generated
*Makefile.in*
*Makefile
aclocal.m4
autom4te.cache/*
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
*~
src/.deps/*
src/config.h
src/config.h.in
src/stamp-h1
tests/.deps/*
# --------- specific conmpiled files.
src/toonloop
src/prototoonmidi
tests/check_bool
tests/check_classes
tests/check_commands
tests/check_containers
tests/check_datetime
tests/check_looper
tests/check_moviesaver
tests/check_ref
tests/check_symlinks
tests/check_threads
tests/check_tween
tests/check_signals
tests/check_statesaving
# TODO:2010-08-05:aalex:How can we avoid automake to create make INSTALL a symlink?
INSTALL
*.tar.gz
src/core
# mist built files
proto/spawn
