[Desktop Entry]
Encoding=UTF-8
Exec=toonloop 
Type=Application
Terminal=false
Name=Toonloop
Comment=The Toonloop Live Stop Motion Tool
Comment[fr]=Logiciel d'animation image par image en direct Toonloop
Categories=AudioVideo;
Icon=toonloop.png
