#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Exec=/usr/local/bin/toonloop 
Type=Application
Terminal=true
Name=ToonLoop
Name[en_CA]=ToonLoop
Comment=The ToonLoop Live Stop Motion Tool
Comment[en_CA]=The ToonLoop Live Stop Motion Tool
Categories=Application;AudioVideo;Multimedia;
Icon=/usr/local/share/icons/ToonLoop.svg
