[Desktop Entry]
Exec=toonloop 
Type=Application
Terminal=false
Name=Toonloop
Name[fr]=Toonloop
Comment=Toonloop Live Animation Editor
Comment[fr]=Editeur d'animation en direct Toonloop
Categories=AudioVideo;Video;AudioVideoEditing;
Icon=toonloop
